

{% extends 'base.html' %}
{% load bootstrap4 %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="w-100 row">
        <div class="w-50 rounded-left" style="background: #f4f9fd">
            <h5 class="text-success p-5">
                Your Password Changed - Back to <a class="text-primary" href="{% url 'login' %}">Login</a>
            </h5>
        </div>
        <div class="w-50 ml-auto mx-auto rounded-right"
             style="background: #dbe7ff ;text-align: center; display:flex; justify-content:center; align-items:center;">
            <img class="m-5" src="{% static 'img/registration/password_done.png' %}" style="width: 128px"/>
        </div>
    </div>
{% endblock %}