{% extends 'base.html' %}
{% load bootstrap4 %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="w-100 row">
        <div class="w-50 rounded-left" style="background: #f4f9fd">
            <h4 style="padding-left: 5% ; padding-top: 5%">
                Thank You For Using My Site!
            </h4>
            <h6 style="padding-left: 5% ; padding-top: 5%">
                We Will Email You a Link that Include Reset Password Method. if Your Email is Valid.<br><br>
            </h6>
            <h6 class="text-primary" style="padding: 5% ">
                Please Check Your Email To Get Reset-Password-Link
            </h6>
        </div>
        <div class="w-50 ml-auto mx-auto rounded-right"
             style="background: #dbe7ff ;text-align: center; display:flex; justify-content:center; align-items:center;">
            <img class="" src="{% static 'img/registration/check_email.png' %}" style="width: 128px"/>
        </div>
    </div>
{% endblock %}